/* loginRegister.css */

.lr-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form-container {
  width: 35%;
  height: 100vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  width: 65%;
  object-fit: cover;
  z-index: -1;
}

.form-container h1 {
  margin: 1.5rem 1rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-container > label {
  font-weight: 300;
}

.input-line {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 12px 8px;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  outline: none;
}

.input-line::placeholder {
  color: #aaa;
}

.input-line:focus {
  border-bottom: 2px solid #646cff;
  transition: ease;
}

.form-container button {
  color: black;
  margin-top: 1rem;
  padding: 0.5rem 1.8rem;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #f0f0f0;
}

.cl-account a {
  color: white;
  text-decoration: underline;
}

.cl-account a:hover {
  color: #646cff;
}
