/* Navbar.css */
.navbar {
  color: white;
  width: 100vw;
  padding: 20px;
  height: 5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;

  /* From https://css.glass */
  background: rgba(202, 202, 202, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border-bottom: 1px solid rgba(202, 202, 202, 0.47);
}

.navbar-links {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 2rem;
}

.navbar-links a {
  color: white;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.4s ease;
}

.navbar-links a:hover {
  border-bottom: 2px solid white;
}

#logo {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}

#logo:hover {
  transform: scale(2);
}

/* AVATAR */
.prof-pic {
  transition: 0.4s ease;
}

.prof-pic:hover {
  cursor: pointer;
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
