.full-video-container video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8);
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 50vw;
  height: 60vh;
  border-radius: 100px;
  transform: translateY(35px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 64px 0px inset,
    rgba(0, 0, 0, 0.12) 0px 32px 128px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 64px 256px 0px inset,
    rgba(0, 0, 0, 0.08) 0px 128px 384px 0px inset;
  background-color: #1a1a1a;
}

.profile-container * {
  margin: 0;
}

.profile-inner-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
  font-size: larger;
  gap: 1rem;
}

.profile-details span {
  font-weight: bold;
  border-bottom: white 2px solid;
}

.profile-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.tips {
  font-size: 12px;
}

.profile-container {
}
